.bookCard {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&__item {
		border-radius: 10px;
		margin: 20px;
		width: 460px;
		display: flex;
		flex-wrap: wrap-reverse;
		padding: 5px 10px;
		box-shadow: 0 2px 8px rgb(216, 211, 211);

		&__detail {
			width: 60%;
		}
		&__img {
			width: 40%;
			border-radius: 15px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
