.homepage {
	.header {
		.header__search {
			.headerSearch {
				img {
					top: 18px;
				}
			}
		}
	}
	&__body {
		display: flex;
		&__right {
			padding: 50px 0px 0 0px;
			width: 20%;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
.writtingModal {
	.Modal {
		&--writtingModal {
			height: 70%;
			width: 80%;
		}
	}
}

.inner-container {
	width: 800px;
	border: 1px #cccccc solid;
	border-radius: 5px;
	margin: 20px auto;
	padding: 20px;

	.book-title{
		color: #ea6f5a;
		text-align: center;
	}

	.content {
		margin-top: 20px;
		text-align: center;
	}

	.comments {
		margin-top: 20px;
		color: #3194d0;
	}

	.comment-item {
		margin: 30px 0;
		.comment-number{
			font-weight: bold;
			color: dimgray;
		}
		.comment-content {
			margin-top: 10px;
		}
	}
}
